@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-slide > div {
  width: 100% !important;
}

html, body {
  scroll-behavior: auto;
}
