@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-slide > div {
  width: 100% !important;
}

html, body {
  scroll-behavior: auto;
}

@keyframes slideUphero {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slideUphero {
  animation: slideUphero 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-rose-400;
}
